#Encrypto gitignore files
Encrypto/__pycache__/
Encrypto/key.csv

# Dart tool files
passgen/passgen/.dart_tool/
passgen/passgen/.flutter-plugins
passgen/passgen/.flutter-plugins-dependencies
passgen/passgen/.idea/
passgen/passgen/*.iml
passgen/passgen/build/
passgen/passgen/pubspec.lock (if not needed)
passgen/passgen/*.log